# Frontend ignores
finate-frontend/node_modules/
finate-frontend/dist/
finate-frontend/.env

# Backend ignores
finate-backend/target/
finate-backend/.idea/
finate-backend/.mvn/wrapper/maven-wrapper.jar
finate-backend/*.class


.env
target/
*.jar
node_modules/
dist/
