# postgres (used by postgres container to create the user on first boot).
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# database :
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=

# jwt :
JWT_SECRET_KEY=

# ai :
GOOGLE_GENAI_API_KEY=
GEMINI_MODEL=

# razorpay :
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# redis :
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# mail :
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_HOST=
MAIL_PORT=

# finnhub :

FINNHUB_API_KEY=
FINNHUB_API_BASE_URL=