VITE_BACKEND_URL=http://localhost:8080/api

# PostgreSQL
POSTGRES_DB=finate
POSTGRES_USER=
POSTGRES_PASSWORD=

SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=

# Redis
SPRING_REDIS_HOST=redis
SPRING_REDIS_PORT=6379

# JWT
JWT_SECRET=

# Finnhub
FINNHUB_API_KEY=

# Gemini
GEMINI_API_KEY=

# Razorpay
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# Mail
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
